.dropdown-box {
    background-color: #202131;
    border: 1px solid #374151;
    color: #e1e1e6;
    display: inline-block;
}
.dropdown-list {
    height: 500px;
    overflow-y: auto;
}

.dropdown-button {
    border: 2px solid #202131;
    border-radius: 4px;
    font-size: 16px;
    color: #202131;
    padding: 5px;
    height: min-content;
    margin: auto 5px;
    cursor: pointer;
}
.dropdown-button:hover {
    border: 2px solid #a94442;
    color: #b45d5b;
}

.dropdown-item-wrapper {
    list-style-type: none;
    border: 1px solid #374151;
    cursor: pointer;
}
.dropdown-item-wrapper:hover {
    border: 1px solid #b45d5b;
}

.dropdown-item {
    padding: 3px;
}
.dropdown-item.active {
    border: 1px solid #a94442;
    color: #b45d5b;
}