.converting {
    display: flex;
}

.amount {
    width: 200px;
    font-size: 20px;
    vertical-align: top;
}

.select-currency {
    margin-top: 5px;
    vertical-align: top;
}

.res {
    font-size: 36pt;
    font-weight: bold;
    width: 70px;
    text-align: center;
}

.currency {
    margin-bottom: 10px;
    vertical-align: top;
}

.error-wrapper {
    border: 2px solid red;
    border-radius: 10px;
}

.error-text {
    margin: 20px;
    font-size: 18px;
    line-height: 2em;
}
