<div class="converting" *ngIf="currencyList">
    <div class="currency">
        <input type="text" class="amount" [(ngModel)]="amountCurrencyTop" placeholder="amount"
               (input)="calcAmountCurrencyBottom()">
        <div>
            <dropdown class="select-currency" [type]="'currency'"
                      [list]="currencyList.items"
                      (onSelected)="selectCurrencyTop($event)"></dropdown>
        </div>
    </div>
    <div class="res">
        =
    </div>
    <div class="currency">
        <input type="text" class="amount" [(ngModel)]="amountCurrencyBottom" placeholder="amount"
               (input)="calcAmountCurrencyTop()">
        <div>
            <dropdown class="select-currency" [type]="'currency'" [list]="currencyList.items"
                      (onSelected)="selectCurrencyBottom($event)"></dropdown>
        </div>
    </div>
</div>

<div class="error-wrapper" *ngIf="errorMessage">
    <span class="red-text error-text">{{errorMessage}}</span>
</div>
