<div class="converting" *ngIf="currencyList">
    <div class="currency">
        <input type="text" class="amount" [(ngModel)]="amountCurrencyLeft" placeholder="amount"
               (input)="calcAmountCurrencyRight()">
        <div>
            <dropdown class="select-currency" [type]="'currency'"
                      [list]="currencyList.items"
                      (onSelected)="selectCurrencyLeft($event)"></dropdown>
        </div>
    </div>
    <div class="res">
        =
    </div>
    <div class="currency">
        <input type="text" class="amount" [(ngModel)]="amountCurrencyRight" placeholder="amount"
               (input)="calcAmountCurrencyLeft()">
        <div>
            <dropdown class="select-currency" [type]="'currency'" [list]="currencyList.items"
                      (onSelected)="selectCurrencyRight($event)"></dropdown>
        </div>
    </div>
</div>

<div class="error-wrapper" *ngIf="errorMessage">
    <span class="red-text error-text">{{errorMessage}}</span>
</div>
