.page {
    min-height: 100vh;
    background-color: #f5f5f5;
}

header {
    height: 64px;
    background-color: #202131;
    border-bottom: 1px solid #374151;
}

nav {
    margin-left: 240px;
    width: 66%;
    min-height: 100%;
}

.logo {
    display: flex;
    align-items: center;
    min-height: 64px;
    width: 300px;
}
.logo img {
    margin: auto auto;
    width: auto;
    height: 60px;
}

.left-menu {
    min-height: calc(100vh - 64px);
    width: 240px;
    background-color: #202131;
    border-right: 1px solid #374151;
    overflow: hidden;
}

.content {
    width: 66%;
    padding: 50px 30px;
    border-right: 1px solid #e1e1e6;
}